@import url('https://fonts.googleapis.com/css?family=Economica|Open+Sans:300,400');
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 300 14px/20px 'Open Sans', 'sans-serif';
}
h2,
h4,
h5,
h6,
ul,
li,
p,
a,
div,
input,
textarea {
  margin: 0;
  padding: 0;
  box-shadow: none;
  font-size: 10px;
  color: #000;
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: normal;
}
.wrap {
  margin: 0px auto;
  justify-content: space-around;
  max-width: 1600px;
}
.cena-price {
  width: 100%;
}
span {
  font-size: 12px;
  color: #373b3d;
}
.pad-mod {
  padding: none;
}
.dev {
  width: 100%;
  height: 126px;
}
.mod-mrr {
  margin-right: 10px;
}
h4 {
  text-align: center;
  font-size: 20px;
  color: #000;
  font-size: 14px;
}
span {
  font-size: 1.5em;
}
.inTop {
  border: none;
  font-size: 1.4em;
  outline: none;
  margin-left: 15px;
}
.sise-icon {
  font-size: 1.3em;
}
.flexConteiner-header {
  display: flex;
  margin: 0 auto;
}
.header-logo {
  background: url(../imgs/logo.svg) no-repeat;
  background-size: 80% 80%;
  background-position: center;
  background-color: #2a8faf;
  width: 67px;
  height: 115px;
  display: inline-block;
  position: absolute;
}
.header-item .mod-marlef {
  flex-wrap: wrap;
}
.top-menu {
  display: flex;
  justify-content: space-around;
  margin-left: 60px;
}
.top-menu .inputs1 {
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  flex-wrap: wrap;
}
.top-menu .inputs1 .serch {
  font-size: 1.2em;
}
.top-menu ul {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  border-top: 1px solid #d4cec8;
}
.top-menu ul .roz {
  display: flex;
  text-align: center;
  margin: 20px 0;
}
.top-menu ul li {
  display: inline-block;
  margin: 18px;
}
.top-menu ul li a {
  color: #1c1441;
  font-size: 1.3em;
  font-weight: 600;
}
.top-menu ul li a:hover {
  color: #1c74f8;
}
.bottom-menu {
  display: flex;
}
.bottom-menu li {
  flex-grow: 1;
  border: 1px solid #d4cec8;
  border-left: none;
  padding: 14px;
  text-align: center;
}
.bottom-menu li a {
  color: #1c1441;
  font-size: 1.5em;
  font-weight: 600;
}
.bottom-menu li a:hover {
  color: #1c74f8;
}
section {
  background: #e8ebee;
  flex-direction: row;
  display: flex;
}
.main-cont {
  display: flex;
  justify-content: space-around;
  flex: wrap;
}
.cardimg-slid {
  display: flex;
  background: white;
  flex-direction: row;
  margin: 20px;
  min-height: 400px;
  width: 60%;
}
.cardimg-slid img {
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.conlid {
  position: relative;
  width: 5%;
}
.conlid p {
  margin-top: 12px;
  color: #5a4f4f;
  font-size: 15px;
}
.conlid h3 {
  font-size: 50px;
  display: inline-block;
  margin-top: 16px;
}
.conlid h6 {
  font-size: 40px;
  color: #259ff0;
  margin-top: 20px;
}
.conlid .sub-title {
  font-size: 30px;
  width: 300px;
  line-height: 120%;
  margin-bottom: 36px;
}
.conlid .pop {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #ffeaf1;
  display: flex;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
.conlid .pop p {
  margin-left: 50px;
  margin-top: 7px;
  color: #f878b4;
  font-size: 15px;
}
.conlid .pop img {
  width: 16px;
  position: absolute;
  top: 48px;
  left: 12px;
}
.card-popul {
  margin: 20px 14px;
  background: #f8f7f7;
  width: 50%;
  justify-content: space-around;
}
.card-popul p {
  margin-left: 30px;
  color: #b3aaaa;
  font-size: 14px;
}
.card-popul span {
  color: #1972d8;
  font-size: 28px;
  padding: 30px;
  margin-top: 30px;
}
.card-popul h3 {
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: 19px;
  width: 85%;
  text-align: left;
  line-height: 140%;
}
.card-popul img {
  width: 100%;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}
.cont-cardpop {
  display: flex;
}
.wrapper {
  display: flex;
  justify-content: space-around;
}
.cont-item {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
.cont-box {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}
.boxs {
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-around;
}
.boxs .brend-logo {
  margin-right: 30px;
}
.box {
  display: flex;
  padding: 24px 20px;
  background: #ffffff;
  margin-left: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.box p {
  font-size: 14px;
  color: #444a4b;
}
.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
.items .item {
  display: flex;
  width: 100%;
  background: #ffffff;
  padding: 18px 23px;
}
.kolvo {
  justify-content: space-between;
}
.kolvo span {
  color: #1972d8;
  font-size: 28px;
  margin-top: 30px;
  margin-left: 20px;
}
.kolvo p {
  margin-left: 30px;
  color: #b3aaaa;
  font-size: 14px;
}
.cont-adwan {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #5d6977;
  margin-bottom: 30px;
}
.item2 {
  text-align: center;
  padding: 40px 48px;
  display: inline-block;
  border-right: 2px solid #a19e9b;
}
.item2 p {
  color: white;
  font-size: 13px;
}
.item2 .circl {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: #4f5964;
  margin-bottom: 14px;
}
.item2 .circl img {
  width: 46%;
  flex-wrap: wrap;
}
.foot {
  background: url("../imgs/bg2.png") center 50%, 50% / cover;
  width: 100%;
  height: 500px;
  flex-wrap: wrap;
}
.cont-textbg {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transform: translate(0px, 67px);
  position: absolute;
}
.cont-textbg h1 {
  font-size: 30px;
  line-height: 140%;
  color: white;
}
.cont-textbg p {
  font-size: 19px;
  line-height: 180%;
  color: white;
}
.cont-textbg .btn {
  margin-top: 90px;
  text-align: right;
  margin-right: 9px;
}
.cont-textbg .btn a {
  background-color: #fd527b;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  padding: 20px 30px;
  font-size: 15px;
}
footer {
  background: #2a8faf;
  color: #fff;
}
.brends {
  width: 100%;
  padding: 0 20px;
}
.img-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background: white;
  padding: 20px 0px;
  margin-top: 400px;
  position: relative;
}
.img-wrapper img {
  height: 115px;
}
.flexcont-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flexcont-footer .mod-headlog {
  margin-top: 80px;
  height: 170px;
  background-color: rgba(252, 252, 252, 0.2);
  position: absolute;
  width: 87px;
}
.flexcont-footer .footer-item {
  flex-wrap: wrap;
  flex-direction: column;
}
.flexcont-footer .footer-item h2 {
  margin-left: 30px;
  color: #fff;
  width: 130px;
  font-size: 12px;
  font-weight: 800;
  margin-top: 90px;
}
.flexcont-footer .footer-item ul {
  flex-direction: column;
}
.flexcont-footer .footer-item ul li {
  margin: 20px 0;
  color: #fff;
  margin-left: 30px;
  font-size: 13px;
  font-weight: 800;
}
.flexcont-footer .footer-item ul li a {
  color: #fff;
  font-size: 12px;
  font-weight: 800;
}
.flexcont-footer .footer-korz {
  flex-direction: column;
  background-color: #327d9f;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  margin-top: 40px;
}
.flexcont-footer .title {
  font-size: 10pt;
  display: block;
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.69);
}
.flexcont-footer .cart {
  color: #fff;
  text-decoration: underline;
  float: right;
  font-size: 10pt;
}
@media screen and (max-width: 1190px) {
  .mod-headlog {
    opacity: 0;
  }
  .header-logo {
    background: url(../imgs/logo.svg) no-repeat;
    background-size: 80% 80%;
    background-position: center;
    background-color: #2a8faf;
    width: 100%;
    height: 115px;
    display: inline-block;
    position: relative;
  }
  .header-item {
    margin-left: 0 ;
    flex-direction: column-reverse;
  }
  .header-item .mod-marlef {
    justify-content: center;
    flex-direction: row;
  }
  .top-menu {
    display: flex;
    margin: 0 auto;
  }
  .top-menu ul {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #d4cec8;
  }
  .top-menu ul .roz {
    display: flex;
    justify-content: center;
  }
  .top-menu ul li {
    display: inline-block;
    margin: 18px;
  }
  .top-menu ul li a {
    color: #1c1441;
    font-size: 1.4em;
  }
  .bottom-menu {
    display: flex;
    flex-wrap: wrap;
  }
  .bottom-menu li {
    border: 1px solid #d4cec8;
    padding: 14px;
    text-align: center;
  }
  .bottom-menu li a {
    font-size: 1.6em;
  }
  section {
    background: #e8ebee;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    display: flex;
  }
  .main-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cardimg-slid {
    display: flex;
    background: white;
    width: 96%;
    flex-direction: row;
    margin: 20px;
    min-height: 400px;
  }
  .cardimg-slid img {
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    height: auto;
  }
  .cont-cardpop {
    width: 100%;
    justify-content: center;
  }
  .card-popul {
    display: flex;
    width: 100%;
    margin: 20px 14px;
    background: #f8f7f7;
    flex-direction: column;
  }
  .card-popul p {
    margin-left: 30px;
    color: #b3aaaa;
    font-size: 12px;
  }
  .card-popul span {
    color: #1972d8;
    font-size: 28px;
    padding: 30px;
    margin-top: 30px;
  }
  .card-popul h3 {
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 19px;
    width: 85%;
    text-align: left;
    line-height: 140%;
  }
  .card-popul img {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
  }
  .wrapper {
    background: #e8ebee;
    justify-content: center;
    flex-direction: column;
  }
  .cont-item {
    display: flex;
    flex-direction: row;
  }
  .kolvo {
    justify-content: space-between;
  }
  .kolvo p {
    margin-left: 30px;
    color: #b3aaaa;
    font-size: 14px;
  }
  .kolvo span {
    color: #1972d8;
    font-size: 20px;
    margin-top: 30px;
  }
  text {
    margin-top: 30px;
    font-size: 15px;
  }
  .cont-adwan {
    display: flex;
    justify-content: center;
    background: #444a4b;
    margin-bottom: 30px;
    flex-direction: column;
  }
  .item2 {
    text-align: center;
    padding: 40px 48px;
    display: inline-block;
    border-right: 2px solid #a19e9b;
    border: 1px solid #ccc;
  }
  .item2 p {
    color: white;
    font-size: 20px;
  }
  .item2 .circl {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: #125e7c;
    margin-bottom: 14px;
  }
  .item2 .circl img {
    width: 60%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1070px) {
  .header-item {
    margin-left: 0 ;
    flex-direction: column-reverse;
  }
  .header-item .mod-marlef {
    justify-content: center;
    flex-direction: row;
  }
}
@media screen and (max-width: 675px) {
  .top-menu {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .top-menu .inputs1 {
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    width: 93%;
    flex-wrap: nowrap;
  }
  .top-menu .inputs1 .serch {
    margin-left: 105px;
  }
  .top-menu ul {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #d4cec8;
    flex-direction: column;
    margin-right: 0px;
  }
  .top-menu ul .roz {
    display: flex;
    text-align: right;
  }
  .top-menu ul li {
    display: inline-block;
  }
  .top-menu ul li a {
    color: #373b3d;
    font-size: 1.8em;
  }
  .bottom-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .bottom-menu li {
    border: 1px solid #d4cec8;
    padding: 14px;
    text-align: center;
  }
  .bottom-menu li a {
    font-size: 1.6em;
  }
  .cont-textbg {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transform: translate(0px, 0px);
    position: absolute;
    text-align: center;
  }
  .cont-textbg h1 {
    font-size: 33px;
    line-height: 140%;
    color: white;
  }
  .cont-textbg p {
    font-size: 15px;
    line-height: 180%;
    color: white;
    width: 100%;
  }
  .cont-textbg .btn {
    position: relative;
    transform: translate(-4px, -43px);
  }
  .cont-textbg .btn a {
    background-color: #fd527b;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    padding: 18px 43px;
    font-size: 15px;
  }
  .mod-headlog {
    display: none;
  }
  .cardimg-slid {
    display: flex;
    background: white;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .cardimg-slid img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
  }
  .cont-cardpop {
    flex-direction: column;
    width: 100%;
  }
  .card-popul {
    display: flex;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #f8f7f7;
    flex-direction: column;
  }
  .card-popul p {
    margin-left: 30px;
    color: #b3aaaa;
    font-size: 12px;
  }
  .card-popul span {
    color: #1972d8;
    font-size: 28px;
    padding: 30px;
    margin-top: 30px;
  }
  .card-popul h3 {
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 19px;
    width: 85%;
    text-align: left;
    line-height: 140%;
  }
  .card-popul img {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
  }
  .conlid {
    position: relative;
  }
  .conlid p {
    margin-top: 10px;
    color: #5a4f4f;
    width: 10%;
  }
  .conlid h3 {
    font-size: 50px;
    display: inline-block;
    margin-top: 16px;
  }
  .conlid h6 {
    font-size: 40px;
    color: #259ff0;
    margin-top: 20px;
  }
  .conlid .sub-title {
    font-size: 30px;
    width: 300px;
    line-height: 120%;
    margin-bottom: 36px;
  }
  .conlid .pop {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #ffeaf1;
    display: flex;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .conlid .pop p {
    margin-left: 50px;
    margin-top: 7px;
    color: #f878b4;
  }
  .conlid .pop img {
    width: 16px;
    position: absolute;
    top: 48px;
    left: 12px;
  }
  .wrapper {
    background: #e8ebee;
    justify-content: space-between;
    flex-direction: column;
  }
  .cont-item {
    display: flex;
    flex-direction: column;
  }
  .cont-box {
    width: 100%;
  }
  .boxs {
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .box {
    background: white;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 18px 20px;
  }
  .box img {
    display: inline-block;
    width: 100%;
  }
  .kolvo {
    justify-content: space-between;
  }
  .kolvo p {
    margin-left: 30px;
    color: #b3aaaa;
    font-size: 14px;
  }
  .kolvo span {
    color: #1972d8;
    font-size: 20px;
    margin-top: 30px;
  }
  text {
    margin-top: 30px;
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  .brends {
    padding: 0px;
  }
  .cont-cardpop {
    justify-content: center;
    margin: 0 auto;
  }
}
.inputs1 {
  display: flex;
  font-size: 1.5em;
  justify-content: right;
}
@media screen and (max-width: 471px) {
  .top-menu {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .cardimg-slid {
    width: 94%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .cardimg-slid img {
    width: 93%;
  }
  .card-popul {
    width: 93%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
.contact-section {
  width: 1250px;
  margin: 0 auto;
  padding: 30px;
}
.contact-section h3 {
  font-size: 30px;
  margin: 22px;
  font-size: 22px;
}
.map-section {
  height: 300px;
  margin: 23px;
}
.flex-contbox {
  justify-content: space-between;
  display: flex;
}
.left-box {
  flex-direction: column;
  display: flex;
  margin: 20px 0px 20px 30px;
  background: #fff;
  padding: 20px;
  width: 40%;
}
.contact {
  flex-wrap: wrap;
}
.contact li {
  padding: 20px;
  font-size: 15px;
  color: #6b6060;
  border-bottom: 2px solid #e8edf0;
}
.contact li span {
  margin-right: 10px;
}
.right-box {
  margin: 20px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.right-box h3 {
  font-size: 30px;
  margin: 40px 30px;
  font-size: 22px;
}
.cont-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 15px;
}
.flex-contform {
  display: flex;
  flex-direction: row;
  background: white;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.item-form {
  width: 50%;
  display: flex;
  justify-content: center;
}
.item-form input {
  width: 90%;
  height: 50px;
  font-size: 15px;
  border: solid 1px #ced5e1;
  outline: none;
}
.item-form input:focus {
  border: 1px solid #c50a0a;
}
.input-big {
  display: flex;
  justify-content: center;
  width: 100%;
}
.input-big textarea {
  width: 95%;
  height: 270px;
  font-size: 15px;
  border: solid 1px #ced5e1;
  outline: none;
}
.input-big textarea:focus {
  border: 1px solid #c50a0a;
}
.btn-cont {
  position: relative;
  transform: translate(-174px, 157px);
}
.btn-cont a {
  background-color: #fd527b;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  padding: 14px 46px;
  font-size: 15px;
  position: absolute;
}
@media screen and (max-width: 970px) {
  .btn-cont {
    position: relative;
    right: 0%;
  }
  .btn-cont a {
    background-color: #fd527b;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    padding: 15px 45px;
    font-size: 15px;
    position: absolute;
  }
}
.footer-item {
  flex-wrap: wrap;
  flex-direction: column;
}
.footer-item h2 {
  color: #fff;
  width: 130px;
  font-size: 12px;
  font-weight: 800;
}
.footer-item ul {
  flex-direction: column;
}
.footer-item ul li {
  margin: 20px 0;
  color: #fff;
  margin-left: 30px;
  font-size: 13px;
  font-weight: 800;
}
.footer-item ul li a {
  color: #fff;
  font-size: 12px;
  font-weight: 800;
}
@media screen and (max-width: 775px) {
  .flex-contbox {
    flex-direction: column;
  }
  .flex-contbox .left-box {
    flex-direction: column;
    display: flex;
    background: #fff;
    width: 95%;
    padding: 4px;
    margin-left: 8px;
  }
  .flex-contbox .right-box {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    margin: 6px;
    margin-left: 10px;
  }
  .flex-contbox .right-box h3 {
    font-size: 30px;
    margin: 40px 30px;
    font-size: 22px;
  }
}
